/* Kidist AKlilu, 301220223, Oct/4/2022 */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
li a {
  color: white !important;
}
.head {
  font-size: 11pt;
  font-weight: normal;
  color: antiquewhite;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(./images/brown.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  width: 100%;
}
.footer {
  display: flex;
  justify-content: right;
}
.footer {
  width: 100%;
  font-size: 14px;
  position: relative;
  bottom: 0;
  margin: 0 auto;
  position: fixed;
  color: rgb(163, 151, 151);
  padding-bottom: 20px;
  padding-right: 40px;
}
/* contact */
.left {
  height: 200px;
}

#form {
  height: 100vh;
  width: 100%;
}

.contact-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(224, 217, 217, 0.19);
}

.left {
  background: url('./images/Contacts.jpeg') no-repeat center;
  background-size: cover;
  height: 100%;
}

.right {
  padding: 25px 40px;
}
.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}
.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
textarea {
  min-height: 150px;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #42383c;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.1s;
}

.btn:hover {
  background-color: #4f6b5b;
}

/* about me */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

.container {
  width: 60%;
  display: block;
  margin: auto;
  padding-top: 100px;
}
.content-section {
  float: left;
  width: 55%;
}
.image-section {
  float: right;
  width: 40%;
}
.image-section img {
  width: 100%;
  height: auto;
}
.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
  font-style: italic;
}
.content-section .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'lato' 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content-section .content .button {
  margin-top: 30px;
}
.content-section .content .button a {
  background-color: #3d3d3d;
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;
}
.content-section .content .button a:hover {
  background-color: rgb(82, 125, 160);
  color: #fff;
}
.content-section .social {
  margin: 40px 40px;
}

.content-section .social i:hover {
  color: #3d3d3d;
}

#logo {
  width: 80px;
  height: 45px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.wrapper {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(./images/pc.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: 30px 100px;
}
article h1 {
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
article img {
  height: 200px;
  width: 200px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-top: 60px;
}
blockquote {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  margin-top: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 28px;
}
article p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 40px;
}
/* //services */
.content-box {
  color: black;
}
.wrapperservice {
  font-family: 'raleway';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapperservice h1 {
  font-size: 3em;
  margin: 20px 0;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.content.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000px;
  margin-top: 10px;
}
.card {
  display: inline-flex;
  width: 320px;
  flex-direction: row;
  padding: 20px;
  border-radius: 5px;
  min-height: 220px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  transition: 0.3s;
  margin: 5px 4px;
  box-shadow: 0px 15px 30px rgb(0, 0, 0, 0.2);
}
.top {
  text-align: center;
  width: 70%;
  font-weight: 400;
  text-overflow: clip;
  text-transform: inherit;
  font-size: 2em;
}
.card i {
  margin: 20px;
  color: rgb(136, 93, 28);
}
.card h2 {
  margin-bottom: 10px;
  font-weight: 400;
  text-align: center;
}
.card p {
  color: #6c757d;
  text-align: center;
}
.card:hover i,
.card.hover p {
  color: fff;
}
.card:hover h2 {
  font-weight: 600;
}
.card:hover p {
  color: white;
}
.card:nth-child(1):hover {
  background: linear-gradient(
      45deg,
      rgba(69, 114, 145, 0.8) 0%,
      rgba(48, 60, 167, 0.8) 100%
    ),
    url('./images/html:css.png');

  background-size: cover;
}
.card:nth-child(2):hover {
  background: linear-gradient(
      45deg,
      rgba(40, 117, 161, 0.8) 0%,
      rgba(21, 80, 128, 0.8) 100%
    ),
    url('./images/mysql.jpg');
  background-size: cover;
}
.card:nth-child(4):hover {
  background: linear-gradient(
      45deg,
      rgba(255, 250, 205, 0.8) 0%,
      rgba(255, 255, 210, 0.8) 100%
    ),
    url('./images/javascript.png');
  background-size: cover;
}
.card:nth-child(4):hover p {
  color: black;
}
.card:nth-child(5):hover {
  background: linear-gradient(
      45deg,
      rgba(59, 120, 161, 0.8) 0%,
      rgba(48, 60, 167, 0.8) 100%
    ),
    url('./images/C.png');
  background-size: cover;
}
/* project */
.pcontainer {
  width: 350px;
  height: 500px;
  margin: 20px;
}
.project {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.pcontainer:hover > .pcard {
  cursor: pointer;
  transform: rotateY(180deg) rotateZ(180deg);
}

.pcard {
  height: 90%;
  width: 90%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front1,
.front2,
.front3,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(189, 177, 177, 0.25);
  position: absolute;
  backface-visibility: hidden;
  background-color: black;
}

.front1 {
  background: url('./images/weather.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.front2 {
  background-image: url('./images/bmi.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.front3 {
  background-image: url('./images/realtor.png.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.back {
  background-color: black;
  transform: rotateY(180deg) rotateZ(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.back p {
  text-align: center;
}
.all {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project {
  text-align: center;
  margin: 30px 2px;
}
