<!-- Kidist AKlilu, 301220223, Oct/4/2022, -->
<div class="section">
  <div class="container">
    <div class="content-section">
      <div class="title">
        <h1>About Me</h1>
      </div>
      <div class="content">
        <h3>My name is Kidist Aklilu</h3>
        <p>
          I am a software enginerring technology student. I am outgoing,
          dedicated, and open-minded. I believe that a person should work on
          developing their professional skills and learning new things all the
          time. Currently, I am looking for new career opportunities
        </p>

        <div class="button">
          <a href="./content/images/Kidist_Resume.pdf">Resume</a>
        </div>
      </div>
      <div class="social">
        <a href="https://github.com/KidoAklilu"
          ><i class="bx bxl-github bx-md"></i>
        </a>
        <a href="https://www.linkedin.com/in/kidist-aklilu/"
          ><i class="bx bxl-linkedin bx-md"></i>
        </a>
        <a href="https://www.instagram.com/kido.aklilu/"
          ><i class="bx bxl-instagram bx-md"></i>
        </a>
      </div>
    </div>
    <div class="image-section">
      <img src="./content/images/Kd.webp" />
    </div>
  </div>
</div>
