<!-- <h1><%= title %></h1> -->
<div class="section">
  <div class="container">
    <div class="content-section">
      <div class="title">
        <h1>About Me</h1>
      </div>
      <div class="content">
        <h3>My name is Kidist Aklilu</h3>
        <p>
          I am a software enginerring technology student I am outgoing,
          dedicated, and open-minded. I get across to people and adjust to
          changes with ease. I believe that a person should work on developing
          their professional skills and learning new things all the time.
          Currently, I am looking for new career opportunities
        </p>
        <div class="button">
          <a href="">Resume</a>
        </div>
      </div>
      <div class="social">
        <a href=""><i class="fab fa-github"></i></a>
        <a href=""><i class="fab fa-linkedin"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="image-section">
      <img src="./content/images/types.jpeg" />
    </div>
  </div>
</div>
