<!-- <h1><%= title %></h1> -->
<div class="wrapper">
  <article>
    <h1>Welcome to my page</h1>
    <div class="wrapper2">

  
    <img src="./content/images/girl.jpg" />
    <blockquote>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis optio
      aspernatur voluptatem reprehenderit labore autem, eius
    </blockquote>
    <h5>Kido</h5>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora ipsam
      animi nesciunt
    </p>
  </article>
</div>
</div>
