<!-- Kidist AKlilu, 301220223, Oct/4/2022, -->
<div class="wrapper">
  <article>
    <h1>Welcome To My Portfolio</h1>
    <div class="wrapper2">
    <img src="./content/images/girl.jpg" />
    <blockquote>
      Let's bulid something amazing together!
    </blockquote>
    <p>
      My mission is to provide the best customer satisfaction by providing more value.
    </p>
  </article>
</div>
</div>
