<!-- <h1><%= title %></h1> -->
<div class="wrapper">
  <article>
    <h1>Welcome To My Portfolio</h1>
    <div class="wrapper2">

  
    <img src="./content/images/girl.jpg" />
    <blockquote>
      Let's bulid something amazing together!
    </blockquote>
    <!-- <h5>Kido</h5> -->
    <p>
      My mission is to provide the best customer satisfaction by providing more value.
    </p>
  </article>
</div>
</div>
