<!-- <h1><%= title %></h1> -->
<h1 class="project">My projects</h1>
<div class="all">
  <div class="pcontainer">
    <div class="pcard">
      <div class="front1"></div>
      <div class="back">
        <h1>Weather app</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          veritatis, nam rerum, corporis deserunt ex accusamus, modi ipsum
        </p>
      </div>
    </div>
  </div>
  <div class="pcontainer">
    <div class="pcard">
      <div class="front2"></div>
      <div class="back">
        <h1>Bmi Calculator</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. In illo
          vitae, doloremque, dicta, incidunt debitis porro quas amet error
        </p>
      </div>
    </div>
  </div>
  <div class="pcontainer">
    <div class="pcard">
      <div class="front3"></div>
      <div class="back">
        <h1>Realtor Website</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum amet
          illo qui quo quis quos sint deleniti. Ipsa ullam accusantium
        </p>
      </div>
    </div>
  </div>
</div>
