<!-- Kidist AKlilu, 301220223, Oct/4/2022, -->
<h1 class="project">My projects</h1>
<div class="all">
  <div class="pcontainer">
    <div class="pcard">
      <div class="front1"></div>
      <div class="back">
        <h1>Weather app</h1>
        <p>
          My App reports current weather conditions, including the overall
          status (i.e. sunny, partially cloudy, cloudy, etc.) air temperature,
          humidity, wind speed and direction, a “feels-like” temperature,
          barometric pressure, and visibility.
        </p>
      </div>
    </div>
  </div>
  <div class="pcontainer">
    <div class="pcard">
      <div class="front2"></div>
      <div class="back">
        <h1>Bmi Calculator</h1>
        <p>
          My BMI Calculator app allows you to monitor BMI and percentage of fat
          in your body. Based on users input it will calculates the ideal weight
          you should gain.
        </p>
      </div>
    </div>
  </div>
  <div class="pcontainer">
    <div class="pcard">
      <div class="front3"></div>
      <div class="back">
        <h1>Realtor Website</h1>
        <p>
          A responsive website for a real state agent that shows lists of house
          for sale and a contact form.
        </p>
      </div>
    </div>
  </div>
</div>
