<!-- <h1><%= title %></h1> -->

<div class="wrapperservice">
  <h1>My services</h1>
  <p class="top">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit nemo quis
    dolore cumque est repudiandae iure adipisci illo magni expedita vero itaque,
    voluptatum a excepturi vel optio, ducimus, exercitationem nulla.
  </p>
  <div class="content-box">
    <div class="card">
      <i class="bx bxl-css3 bx-md"></i>
      <h2>Css</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto minus
        nulla
      </p>
    </div>
    <div class="card">
      <i class="bx bxl-html5 bx-md"></i>
      <h2>Html</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto minus
        nulla
      </p>
    </div>
    <br />
    <div class="card">
      <i class="bx bxl-javascript bx-md"></i>
      <h2>Javascript</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto minus
        nulla
      </p>
    </div>

    <div class="card">
      <i class="bx bxl-c-plus-plus bx-md"></i>
      <h2>C#</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto minus
        nulla
      </p>
    </div>
  </div>
</div>
