<!-- Kidist AKlilu, 301220223, Oct/4/2022, -->
<div class="wrapperservice">
  <h1>Soon, I'll provide full stack services.</h1>
  <p class="top">My current services</p>
  <div class="content-box">
    <div class="card">
      <i class="bx bxl-css3 bx-md"></i>
      <h2>Html/Css</h2>
      <p>General programming/Web Styling</p>
    </div>
    <div class="card">
      <i class='bx bxs-data bx-md'></i></i></i>
      <h2>Sql</h2>
      <p>Database</p>
    </div>
    <br />
    <div class="card">
      <i class="bx bxl-javascript bx-md"></i>
      <h2>Javascript</h2>
      <p>Web Applications</p>
    </div>

    <div class="card">
      <i class="bx bxl-c-plus-plus bx-md"></i>
      <h2>C#</h2>
      <p>Windows apps</p>
    </div>
  </div>
</div>
